<!DOCTYPE html>
<html>
  <head>
    <title>TurbolinksWithKits</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://kit.fontawesome.com/f3dd5289e1.js" crossorigin="anonymous" data-mutate-approach="sync"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
